
/Precio.Infrastructure.EF4/bin/Debug/Precio.Infrastructure.EF4.dll
/Precio.Infrastructure.EF4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Precio.Infrastructure.EF4/obj/Debug/Precio.Infrastructure.EF4.csproj.FileListAbsolute.txt
/Precio.Infrastructure.NHibernate/bin/Debug/Antlr3.Runtime.dll
/Precio.Infrastructure.NHibernate/bin/Debug/Antlr3.Utility.dll
/Precio.Infrastructure.NHibernate/bin/Debug/Castle.Core.dll
/Precio.Infrastructure.NHibernate/bin/Debug/Castle.DynamicProxy2.dll
/Precio.Infrastructure.NHibernate/bin/Debug/Iesi.Collections.dll
/Precio.Infrastructure.NHibernate/bin/Debug/NHibernate.ByteCode.Castle.dll
/Precio.Infrastructure.NHibernate/bin/Debug/NHibernate.ByteCode.Castle.xml
/Precio.Infrastructure.NHibernate/bin/Debug/NHibernate.Linq.dll
/Precio.Infrastructure.NHibernate/bin/Debug/NHibernate.Linq.xml
/Precio.Infrastructure.NHibernate/bin/Debug/NHibernate.dll
/Precio.Infrastructure.NHibernate/bin/Debug/NHibernate.xml
/Precio.Infrastructure.NHibernate/bin/Debug/Precio.Infrastructure.NHibernate.dll
/Precio.Infrastructure.NHibernate/bin/Debug/Precio.Infrastructure.NHibernate.pdb
/Precio.Infrastructure.NHibernate/bin/Debug/Precio.Infrastructure.dll
/Precio.Infrastructure.NHibernate/bin/Debug/Precio.Infrastructure.pdb
/Precio.Infrastructure.NHibernate/bin/Debug/StringTemplate.dll
/Precio.Infrastructure.NHibernate/bin/Debug/antlr.runtime.dll
/Precio.Infrastructure.NHibernate/bin/Debug/log4net.dll
/Precio.Infrastructure.NHibernate/bin/Debug/log4net.xml
/Precio.Infrastructure.NHibernate/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Precio.Infrastructure.NHibernate/obj/Debug/Precio.Infrastructure.NHibernate.csproj.FileListAbsolute.txt
/Precio.Infrastructure.NHibernate/obj/Debug/Precio.Infrastructure.NHibernate.dll
/Precio.Infrastructure.NHibernate/obj/Debug/Precio.Infrastructure.NHibernate.pdb
/Precio.Infrastructure.NHibernate/packages.config
/Precio.Infrastructure.Tests/bin/Debug/Precio.Infrastructure.Tests.dll
/Precio.Infrastructure.Tests/bin/Debug/Precio.Infrastructure.Tests.pdb
/Precio.Infrastructure.Tests/bin/Debug/Precio.Infrastructure.dll
/Precio.Infrastructure.Tests/bin/Debug/Precio.Infrastructure.pdb
/Precio.Infrastructure.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Precio.Infrastructure.Tests/obj/Debug/Precio.Infrastructure.Tests.csproj.FileListAbsolute.txt
/Precio.Infrastructure.Tests/obj/Debug/Precio.Infrastructure.Tests.dll
/Precio.Infrastructure.Tests/obj/Debug/Precio.Infrastructure.Tests.pdb
/Precio.Infrastructure.Tests/obj/Debug/ResolveAssemblyReference.cache
/Precio.Infrastructure/bin/Debug/Precio.Infrastructure.dll
/Precio.Infrastructure/bin/Debug/Precio.Infrastructure.pdb
/Precio.Infrastructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Precio.Infrastructure/obj/Debug/Precio.Infrastructure.csproj.FileListAbsolute.txt
/Precio.Infrastructure/obj/Debug/Precio.Infrastructure.dll
/Precio.Infrastructure/obj/Debug/Precio.Infrastructure.pdb
/packages/Antlr.3.1.1/Antlr.3.1.1.nupkg
/packages/Antlr.3.1.1/lib/Antlr3.Runtime.dll
/packages/Antlr.3.1.1/lib/Antlr3.Utility.dll
/packages/Antlr.3.1.1/lib/StringTemplate.dll
/packages/Antlr.3.1.1/lib/antlr.runtime.dll
/packages/Castle.Core.1.1.0/Castle.Core.1.1.0.nupkg
/packages/Castle.Core.1.1.0/lib/Castle.Core.dll
/packages/Castle.DynamicProxy.2.1.0/Castle.DynamicProxy.2.1.0.nupkg
/packages/Castle.DynamicProxy.2.1.0/lib/Castle.DynamicProxy2.dll
/packages/Iesi.Collections.1.0.1/Iesi.Collections.1.0.1.nupkg
/packages/Iesi.Collections.1.0.1/lib/Iesi.Collections.dll
/packages/NHibernate.2.1.2.4000/NHibernate.2.1.2.4000.nupkg
/packages/NHibernate.2.1.2.4000/lib/NHibernate.ByteCode.Castle.dll
/packages/NHibernate.2.1.2.4000/lib/NHibernate.ByteCode.Castle.xml
/packages/NHibernate.2.1.2.4000/lib/NHibernate.dll
/packages/NHibernate.2.1.2.4000/lib/NHibernate.xml
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Castle/Castle.Core.dll
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Castle/Castle.Core.xml
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Castle/Castle.DynamicProxy.license.txt
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Castle/Castle.DynamicProxy2.dll
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Castle/Castle.DynamicProxy2.xml
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Castle/NHibernate.ByteCode.Castle.dll
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Castle/NHibernate.ByteCode.Castle.xml
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Choose_Only_One.txt
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/LinFu/LinFu.DynamicProxy.dll
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/LinFu/LinFu.License.txt
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/LinFu/NHibernate.ByteCode.LinFu.dll
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/LinFu/NHibernate.ByteCode.LinFu.xml
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Spring/Common.Logging.dll
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Spring/NHibernate.ByteCode.Spring.dll
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Spring/NHibernate.ByteCode.Spring.xml
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Spring/Spring.Aop.dll
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Spring/Spring.Aop.xml
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Spring/Spring.Core.dll
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Spring/Spring.Core.xml
/packages/NHibernate.2.1.2.4000/lib/Required_For_LazyLoading/Spring/antlr.runtime.dll
/packages/NHibernate.2.1.2.4000/lib/nhibernate-configuration.xsd
/packages/NHibernate.2.1.2.4000/lib/nhibernate-mapping.xsd
/packages/NHibernate.Linq.1.0/NHibernate.Linq.1.0.nupkg
/packages/NHibernate.Linq.1.0/lib/NHibernate.Linq.dll
/packages/NHibernate.Linq.1.0/lib/NHibernate.Linq.xml
/packages/log4net.1.2.10/lib/1.0/log4net.dll
/packages/log4net.1.2.10/lib/1.0/log4net.xml
/packages/log4net.1.2.10/lib/1.1/log4net.dll
/packages/log4net.1.2.10/lib/1.1/log4net.xml
/packages/log4net.1.2.10/lib/2.0/log4net.dll
/packages/log4net.1.2.10/lib/2.0/log4net.xml
/packages/log4net.1.2.10/log4net.1.2.10.nupkg
/packages/repositories.config