
/Precio.Infrastructure.EF4/bin/Debug/Precio.Infrastructure.EF4.dll
/Precio.Infrastructure.EF4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Precio.Infrastructure.EF4/obj/Debug/Precio.Infrastructure.EF4.csproj.FileListAbsolute.txt